.statusList{
    position: absolute;
    width: 800px;
    height: 505px;
    border: 1px solid rgb(184, 182, 182);
    overflow: hidden;
    top: 50px;
    left: 100px;
}

.statusList1{
    position: relative;
    float: left;
    width: 800px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid  rgb(184, 182, 182);
}

.statusList2{
    position: relative;
    float: left;
    width: 800px;
    height: 45px;
    margin-top: 5px;
    line-height: 45px;
    text-align: center;
    /* cursor: pointer; */
}
.statusList2:hover{
    background: rgb(238, 237, 237);
}
.statusList3{
    position: relative;
    float: left;
    width: 75px;
    height: 45px;
    border-left: 1px solid  rgb(184, 182, 182);
}
.statusList4{
    position: relative;
    float: left;
    width: 160px;
    height: 45px;
    border-left: 1px solid  rgb(184, 182, 182);
}
.statusList5{
    position: relative;
    float: left;
    width: 210px;
    height: 45px;
    border-left: 1px solid  rgb(184, 182, 182);
}
.statusList6{
    height: 45px;
    width: 45px;
    margin: auto;
}

.statusList7{
    position: relative;
    float: left;
    width: 50px;
    height: 30px;
    margin-left: 5px;
    background: rgb(122, 224, 26);
    border-radius: 5px;
    margin-top: 7px;
    cursor: pointer;
    line-height: 30px;
}
.statusList7:hover{
    color: white;
}
.statusList9{
    position: relative;
    float: left;
    height: 25px;
    width: 125px;
    margin-left: 5px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}