#openmap{
    height: 100%;
    width: 100%;
    user-select:none;
}
.opeMapAll{
    position: relative;
    height: 100%;
    width: 100%;
}
.opeMapAllRight{
    position: relative;
    float: right;
    height: 100%;
    width: 100%;
}
/* 设备菜单 */
.openMapDevicesList{
    position: absolute;
    float:right;
    height: 100%;
    width:360px;
    background: rgb(245, 245, 245);
}
.openMapDevicesListclose{
    position: absolute;
    top: 60px;
    left: 360px;
    height: 40px;
    width: 40px;
    background: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.openMapDevicesright{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background: rgb(255, 255, 255);
}
.openMapDevicesListInfo{
    position: relative;
    top: 90px;
    margin-left: 10px;
    width: 340px;
    height: calc(100% - 100px);
    /* overflow: hidden; */
}
.openMapDevicesListTitle{
    position: relative;
    height: 40px;
    width: 340px;
    border-bottom: 1px solid rgb(112, 112, 112);
}
/* 设备 */
.openMapDevicesListTitlec{
    position: relative;
    float: left;
    height: 40px;
    width:100px;
    line-height: 40px;
    text-align: center;
    color: rgb(94, 94, 94);
}
#openMapDevicesListTitlecs{
    background: rgb(255, 255, 255);
    color: rgb(11, 45, 240);
    height: 39px;
    border-bottom: 2px solid rgb(0, 38, 255);
}
.openMapDevicesListTitlec:hover{
    background: rgb(255, 255, 255);
    height: 39px;
    border-bottom: 2px solid rgb(95, 95, 95);
}
.openMapdevicesinfo{
    position: relative;
    width: 340px;
    height:calc(100% - 40px);
    /* background: rgb(194, 194, 194); */
}
.openMapdevicessearch{
    position: relative;
    height: 50px;
    width: 340px;
    line-height: 50px;
}
.openMapdevicessearchinside{
    position: relative;
    float: left;
    height: 25px;
    width: 140px;
    margin-top: 10px;
    margin-left: 40px;
    background: rgb(255, 255, 255);
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    outline: none; 
}
.openMapdevicessearchinbotton{
    position: relative;
    float: left;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    width: 70px;
    margin-left: 5px;
    background: rgb(165, 165, 165);
    border-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.openMapdevicessearchinbotton:hover{
    color: aqua;
}
.openMapdevicesGroup{
    position: relative;
    width: 340px;
    margin-top: 10px;
    height: calc(100% - 63px);
    /* background: rgb(214, 214, 214); */
    overflow-x: auto;
    border-top:  2px solid rgba(219, 219, 219, 0.5);
    user-select:text;
}
.openMapdevicesGroup::-webkit-scrollbar{
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.openMapdevicesGroup::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ececec;
}
.openMapdevicesGroup::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgb(187, 187, 187);
}
.openMapdevicesGroupName{
    position: relative;
    float: left;
     min-height: 40px;
    width: 320px;
    line-height: 40px;
    border-bottom: 2px solid rgba(151, 151, 151, 0.5);
    color: rgb(80, 82, 83);
    cursor: pointer;
    margin-top: 10px;
}
.openMapdevicesGroupNameimg{
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-top: 3px;
}
.openMapdevicesGroupNameExplain{
    position: relative;
    float: left;
    width: 270px;
    height: 40px;
    margin-left: 10px;
    font-size: 15px;
}

.openMapdevicesGroupDevices{
    position: relative;
    float: left;
    width: 318px;
    height: 45px;
    border-top: 1px solid rgb(182, 181, 181);
}
.openMapdevicesGroupDevices:hover{
    background: rgb(241, 241, 241);
}
.openMapdevicesGroupDevicesName{
    position: relative;
    float: left;
    height: 25px;
    width: 250px;
    margin-left: 40px;
    line-height: 25px;
    font-size: 15px;
}
.openMapdevicesGroupDevicesState{
    position: relative;
    float: left;
    height: 20px;
    width: 250px;
    margin-left: 40px;
    line-height: 20px;
    font-size: 12px;
}
.openMapdevicesGroupDevicesStateColor{
    position: relative;
    float: left;
    height: 10px;
    width: 10px;
    margin: 5px;
    background: rgb(255, 4, 4);
    border-radius: 10px;
}
.openMapdevicesGroupDevicesStateExplain{
    position: relative;
    float: left;
    height: 20px;
    width: 80px;
    overflow: hidden;
}
#openMapdevicesGroupDevicesStateExplain1{
    background: rgb(0, 255, 0);
}
#openMapdevicesGroupDevicesStateExplain2{
    background: rgb(252, 1, 1);
}
#openMapdevicesGroupDevicesStateExplain3{
    background: rgb(255, 187, 0);
}
#openMapdevicesGroupDevicesStateExplain4{
    background: rgb(255, 251, 0);
}
#openMapdevicesGroupDevicesStateExplain5{
    background: rgb(0, 47, 255);
}
#openMapdevicesGroupDevicesStateExplain6{
    background: rgb(195, 0, 255);
}
#openMapdevicesGroupDevicesStateExplain7{
    background: rgb(0, 247, 255);
}
#openMapdevicesGroupDevicesStateExplain8{
    background: rgb(156, 156, 156);
}
#openMapdevicesGroupDevicesStateExplain9{
    background: rgb(44, 44, 44);
}

.openMapdevicesGroupDevicesStateTime{
    position: relative;
    float: right;
    width: 150px;
    height: 20px;
    text-align: center;
    overflow: hidden;
}
.openMapdevicesGroupDevicesNameOption{
    position: absolute;
    right: 5px;
    top: 7px;
    width: 17px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(163, 163, 163);
    display: none;
    user-select:text;
}
.openMapdevicesGroupDevicesNameOptions{
    position: relative;
    float: left;
    width: 6px;
    height: 6px;
    background: rgb(163, 163, 163);
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 2.5px;
}
.openMapdevicesGroupDevices:hover .openMapdevicesGroupDevicesNameOption{
    display: block;
}
.openMapdevicesDevicesOperat{
    position: fixed;
    height: 30px;
    width: 100px;
    left: 320px;
    /* background: rgb(117, 117, 117); */
    padding-left: 10px;
    display: none;
}
.openMapdevicesDevicesOperatInside{
    position: relative;
    width: 160px;
    height: 200px;
    top: -110px;
}
.openMapdevicesGroupDevicesNameOption:hover .openMapdevicesDevicesOperat{
    display: block;
}
.openMapdevicesDevicesOperatFrame{
    position: relative;
    min-width: 125px;
    max-width: 350px;
    min-height: 200px;
    left: 35px;
    background: rgb(255, 255, 255);
    border: 2px solid rgba(145, 145, 145, 0.5);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: table;
}
.openMapdevicesDevicesOperatFrame:before { 
    content:""; 
    position: absolute; 
    right: 100%; 
    top: 45%; 
    width: 0; 
    height: 0; 
    border-top: 17px solid transparent; 
    border-right: 18px solid rgb(255, 255, 255); 
    border-bottom: 17px solid transparent; 
} 
.openMapdevicesDevicesOperatFrameC{
    position: relative;
    float: left;
    min-width: 135px;
    max-width: 350px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    color: rgb(48, 47, 47);
    font-size: 12px;
    overflow: hidden;
    padding-right: 5px;
}
/* 状态 */
.openMapdevicesState{
    position: relative;
    width: 340px;
    top: 30px;
    height:calc(100% - 50px);;
    overflow: auto;
}
.openMapdevicesState::-webkit-scrollbar{
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.openMapdevicesState::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ececec;
}
.openMapdevicesState::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgb(187, 187, 187);
}
/* 轨迹 */
.openMapdeviceOrbit{
    position: relative;
    height: 340px;
    width: 340px;
}
.openMapdeviceOrbitNo{
    position: relative;
    height: 340px;
    width: 340px;
    line-height: 340px;
    color: rgb(151, 151, 151);
    text-align: center;
}
.openMapdeviceOrbitName{
    position: relative;
    height: 50px;
    width: 340px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
}
.openMapdeviceOrbitTime{
    position: relative;
    height: 70px;
    width: 340px;
}
.openMapdeviceOrbitTimeOne{
    position: relative;
    height: 35px;
    width: 340px;
}
.openMapdeviceOrbitTimeTwo{
    position: relative;
    float: left;
    height: 35px;
    width: 150px;
    line-height: 30px;
    text-align: center;
    color: rgb(66, 66, 66);
}
.openMapdeviceOrbitSearch{
    position: relative;
    float: left;
    height: 30px;
    width: 132px;
    background: rgb(41, 55, 255);
    margin-left: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: aliceblue;
}
.openMapdeviceOrbitSearch:hover{
    color: rgb(48, 252, 7);
}
.openMapdeviceOrbitClear{
    position: relative;
    float: left;
    height: 30px;
    width: 68px;
    background: rgb(196, 195, 195);
    margin-left: 2px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.openMapdeviceOrbitClear:hover{
    color: #ececec;
}
.openMapdeviceOrbitReturn{
    position: relative;
    float: left;
    height: 30px;
    width: 68px;
    background: rgb(138, 245, 76);
    margin-left: 2px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.openMapdeviceOrbitReturn:hover{
    color: #ececec;
}
.openMapdeviceOrbitList{
    position: absolute;
    width: 340px;
    top: 160px;
    height:calc(100% - 160px);
    /* height: 100%; */
    overflow: auto;
}
.openMapdeviceOrbitList::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ececec;
}
.openMapdeviceOrbitList::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgb(187, 187, 187);
}



/* logo 用户 */
.openmaplogo{
    position: absolute;
    top: 10px;
    left: 10px;
    height:60px;
    width: 330px;
    background: rgba(139, 139, 139, 0.2);
    border: 1px solid rgba(75, 74, 74, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
.imgMax{
    width: 100%;
    height: 100%;
}
.openMapDevices{
    position: absolute;
    top: 85px;
    left: 10px;
    height: 40px;
    width: 130px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(129, 129, 129);
}
.openMapDevicesOpen{
    position: relative;
    float: left;
    margin: 5px;
    height: 30px;
    width: 90px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}
.openMapDevicesleft{
    position: relative;
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 10px;
}
#openMapDevicesleftimg{
    transform:rotate(180deg);
}
.openMapUser{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 23px;
}
#openMapUserphoto{
    border-radius: 23px;
}
.openMapUserOpen{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 350px;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius: 24px;
}
.openMapUserPush{
    position: relative;
    float: left;
    height: 40px;
    width: 90px;
    line-height: 40px;
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 15px;
    cursor: pointer;
    background: rgba(255, 255, 255);
    padding-left: 10px;
}
.openMapUserPushOrbit:hover{
    background: rgb(240, 240, 240);
}
.openMapUserPushimg{
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    top: 5px;
}
.openMapUserPushopenimg{
    position: relative;
    float: left;
    width: 10px;
    height: 10px;
}
.openMapUserPushExplain{
    position: relative;
    float: left;
    width: 40px;
}
#openMapUserPushopenmg{
    transform:rotate(180deg);
}
.openMapUserPushbutton{
    position: relative;
    float: left;
    left: -10px;;
    width: 100px;
    height: 65px;
    background: rgb(255, 255, 255);
}
.openMapUserPushbuttonExplain{
    width: 90px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.openMapUserPushbuttonExplainleft{
    position: relative;
    float: left;
    width: 45px;
    height: 30px;
}
.openMapUserPushbuttonExplainright{
    position: relative;
    float: left;
    width: 45px;
    height: 30px;
}
.openMapUserPushbuttonExplainrightbg{
    position: relative;
    height: 20px;
    background: rgb(0, 17, 255);
    width: 40px;
    margin-top: 5px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
}
.openMapUserPushbuttonExplainrightSwitch{
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    color: white;
}
.openMapUserPushbuttonExplainrightInside{
    position: relative;
    float: left;
    height: 18px;
    width: 18px;
    margin: 1px;
    background: white;
    border-radius: 10px;
}
#openMapUserPushbuttonExplainrightbgclose{
    background: rgb(172, 172, 172);
}
#openMapUserPushbuttonlanguage{
    height: 95px;
}
.openMapUserLanguage{
    position: relative;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 100px;
}
.openMapUserLanguage:hover{
    background: rgb(230, 230, 230);
}
.openMapUserLanguageName{
    position: relative;
    float: left;
    width: 75px;
    height: 30px;
}
.openMapUserLanguageSelect{
    position: relative;
    float: left;
    width: 20px;
    height: 30px;
}
.openMapUserLanguageSelectInside{
    position: relative;
    height: 15px;
    width: 15px;
    /* margin-top: 10px; */
    top: 9px;
    background: rgb(44, 255, 44);
    border-radius: 10px;
}
.openMapUserOpenimg{
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 23px;
}
.openMapUserInfo{
    position: absolute;
    right: 5px;
    top: 65px;
    height: 65px;
    width: 100px;
    background: rgb(255, 255, 255);
}
.openMapUserInfoExplan{
    position: relative;
    float: left;
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 15px;
    color: rgb(112, 112, 112);
    text-align: center;
}
.openMapUserInfoExplan:hover{
    background: rgb(241, 241, 241);
}
.openMapUserInfoExplanRight{
    position: relative;
    float: left;
    border-top:8px double rgb(153, 153, 153);
    padding-top: 2px;
    background-clip: content-box;
    background-color: rgb(153, 153, 153);
    position: relative;
    width: 10px;
    height: 3px;
    margin-top: 10px;
    margin-left: 10px;
}
.openMapUserInfoExplanLogout{
    position: relative;
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    margin-top: 1px;
}
.openMapUserInfoExplanLeft{
    position: relative;
    float: left;
    width: 75px;
}
.openMapfunction{
    position: absolute;
    top: 20%;
    right: 5px;
    height: 280px;
    width: 27px;
    /* background: rgba(255, 4, 4, 0.4); */
}
.openMapFull{
    position: relative;
    height: 27px;
    width: 25px;
    background: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    border: 1px solid rgb(172, 172, 172);
}
.openMapFullem{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 27px;
    width: 25px;
    cursor: pointer;
}
.openMapFullem:hover{
    background: rgba(206, 206, 206, 0.4);
}
.openMapMap{
    position: relative;
    top: 0px;
    left: 0px;
    height: 27px;
    width: 25px;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(172, 171, 171);
}
.openMapZoon{
    height: 56px;
    width: 25px;
    background: rgb(255, 255, 255);
    margin-top: 10px;
}
.openMapMapSelect{
    position: absolute;
    height: 100px;
    width: 133px;
    right: 0px;
    top: -20px;
    cursor: pointer;
}
.openMapMapSelectC{
    position: absolute;
    width: 100px; 
    min-height: 50px; 
    background: rgb(255, 255, 255);
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    padding-bottom: 10px;
}
.openMapMapSelectC:before { 
    content:""; 
    position: absolute; 
    left: 100%; 
    top: 25px; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-left: 8px solid rgb(255, 255, 255); 
    border-bottom: 7px solid transparent; 
} 
.openMapMapSelectCc{
    position: relative;
    float: left;
    height: 25px;
    width: 100px;
    top: 5px;
}
.openMapMapSelectCc:hover{
    background: rgb(241, 241, 241);
}
.openMapMapSelectSe{
    position: relative;
    float: left;
    height: 12px;
    width: 12px;
    margin: 7px;
    background: rgb(182, 182, 182);
    border-radius: 10px;
}
.openMapMapSelectSeInside{
    height: 6px;
    width: 6px;
    background: rgb(82, 82, 82);
    border-radius: 10px;
    margin: 3px;
}
.openMapMapSelectIndex{
    position: relative;
    float: left;
    height: 25px;
    width: 60px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}
.openMapDeviceSelected{
    position: relative;
    height: 27px;
    width: 25px;
    background: rgb(172, 171, 171);
}
.openMapDeviceNotSelected{
    position: absolute;
    height: 27px;
    width: 25px;
    background: rgb(255, 255, 255);
}
.openMapFence{
    position: relative;
    height: 27px;
    width: 25px;
    background: rgb(255, 255, 255);
    margin-top:3px;
    border: 1px solid rgb(172, 171, 171);
}
.openMapZoomOut{
    position: absolute;
    width: 21px;
    height: 21px;
    margin: 2px;
}
.openMapDeviceShow{
    position: relative;
    height: 27px;
    width: 25px;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(172, 171, 171);
}

.openMapZoomOutLeft{
    position: absolute;
    width: 60px; 
    height: 25px; 
    right: 30px;
    top: 0px;
    background: rgba(143, 143, 143, 0.5); 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.openMapZoomOutLeft:before { 
    content:""; 
    position: absolute; 
    left: 100%; 
    top: 25%; 
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-left: 4px solid rgb(207, 207, 207, 0.5); 
    border-bottom: 7px solid transparent; 
}

.openmapOrbit{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 60px;
    right: 60px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(112, 112, 112);
    border-radius: 10px;
    overflow: hidden;
}
.openmapOrbitTitle{
    position: relative;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    cursor: move;
}
.openmapOrbitClose{
    position: relative;
    float: right;
    height: 25px;
    width: 25px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 5px;
}
.openmapOrbitClose:hover{
    color: red;
}
.openmapOrbitTypes{
    position: relative;
    height: 150px;
    width: 160px;
    margin-left: 20px;
}
.openmapOrbitTypesSelect{
    position: relative;
    width: 160px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
}
.openmapOrbitTypesSelect:hover {
    background: rgb(223, 222, 222);
}
.openmapOrbitTypesName{
    position: relative;
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.openmapOrbitTypesMark{
    position: relative;
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0);
    margin-top: 20px;
    margin-left: 10px;
}
.openmapOrbitTypesMarkInside{
    height: 10px;
    width: 10px;
    background: #000;
    border-radius: 10px;
}
/* #circle{
    background: rgb(204, 204, 204);
} */
.openmapOrbitCircle{
    position: relative;
    height: 30px;
    width: 160px;
    line-height: 30px;
    text-align: center;
    margin-top: 5px;
}
.openmapOrbitCircleName{
    position: relative;
    float: left;
    width: 40px;
    height: 30px;
}
.openmapOrbitCircleInput{
    position: relative;
    float: left;
    width: 90px;
    height: 20px;
    margin-left: 5px;
    margin-top: 2px;
    /* outline: none; */
    padding-left: 10px;
    padding-right: 10px;
}
.openmapOrbitCircleInput::-webkit-outer-spin-button,
.openmapOrbitCircleInput::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
.openmapOrbitCircleTrue{
    position: relative;
    float: left;
    margin-left: 20px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
    cursor: pointer;
}
.openmapOrbitCircleTrue:hover{
    background: rgb(145, 145, 145);
    color: white;
}
.openmapOrbitPolygon{
    position: relative;
    float: left;
    width: 70px;
    font-size: 15px;
}
.openmapOrbitPolygonNext{
    position: relative;
    float: left;
    width: 40px;
    height: 30xp;
    font-size: 12px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3px;
}
.openmapOrbitPolygonNext:hover{
    background: rgb(145, 145, 145);
    color: white;
}
#openmapOrbitPolygonNextRight{
    float: right;
}